* {    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --white: #fff;
}

body {
    font-family: 'Lato', sans-serif;
    color: var(--white);    
    font-weight: 300;        
}

a {
    text-decoration: none;
    color: var(--white);
    font-weight: 400;
    color: #4cb7ef;
}

/*  NAV  */

header {
    background-image: url("./Images/0_header/hamachi-hero.jpeg");
    background-position: center center;  
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    
}


.header-nav ul {
    display: flex;
    align-items: center;
    margin-left:19px;
    margin-right: 40px;
    
    justify-content: center;
    align-items: center;
}


.header-nav li {
    display: flex;
    padding: 30px 22px;
    list-style: none;
}

.header-nav a {    
    color: var(--white);
}

.header-nav a:hover{
    text-decoration: underline;
}

#small-logo{
    width: 27px;
    height: 27px;
}

/*  HEADER - NAV     */

#header-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}

#header-section > :not(.header-footer) {
    margin-bottom: 5px;
    max-width: 780px;
  }
.header-main-logo{
    width: 300px;
    margin-top: 225px ;
}

.header-title {
    font-size: 34px;
    font-weight: 300;
    padding-bottom: 5px;

}

.header-description {
    color: #e4e4e4;
    font-size: 20px;
    padding-bottom: 20px;
}

.button{
    margin-top: 13px;
    padding: 14px 23px;
    font-size: 16px;
    font-weight: 700;

    color: var(--white);
    background-color: #8cc22e;
    border-radius: 4px;
    box-shadow: 0 2px 0 #6e9924, 0 -2px 0 #a4d54e;
}

.OS-links a{
    font-weight: 300;
    font-weight: bold;
}

.OS-links p {
    padding-top: 15px;
}


.header-footer {
    bottom: 0; 
    position:absolute;
    background-color: rgba(43,59,86,.3);
    width: 100%;
    padding: 20px;
    font-weight: 100;

}

.header-footer > * {
    margin-left: 5px;
}

.header-footer img{
    width: 1.5vh;
}


/*  MAIN SECTION 1  */

#main-section-one{
    padding: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:#2d749a;    
    grid-gap: 10px;
    min-width: 100px;
}

#main-section-one h2 {
    padding: 50px 0 20px 0;
    grid-column: 1 / span 2;
    justify-self: center;
    font-weight: 300;
}

#main-section-one article {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 30px;
}

#main-section-one article h3 {
    font-weight: bolder;

}

#main-section-one article > img {
    grid-row: 1 / span 2;
    width: 110px;
}

#main-section-one article > p {
    align-items: start;
}
#main-section-one article > * {
    padding: 5px 10px ;
}

/*  MAIN SECTION 2  */

#main-section-two {
    padding: 20px 0 80px;
    display: grid;
    background-color: #4cb7ef;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center;
}

#main-section-two h2 {
    padding: 50px 0 ;
    grid-column: 1 / span 3;
    justify-self: center;
    font-weight: 300;
}

.main-section-two__article > * {
    display: grid;
    text-align: center;
    margin: 0 auto;    
}
.main-section-two__article {
    padding-left: 25px;
    margin: 0 25px;

    max-width: 271px;
}

.main-section-two__article > img {
    width: 100px;
}

.main-section-two__article > h3 {
    font-weight: 400;
    text-shadow: 0 3px 0 hsla(0, 0%, 0%, 0.233);
    margin-bottom: 10px;
}

.main-section-two__article > p {
    opacity: .85;
}


/*  MAIN SECTION 3  */

#main-section-three {
    padding: 20px 0 80px;
    color: #2d749a;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    text-align: center;
    margin: 0 auto;
}

#main-section-three h2{
    font-weight: 400;
    padding: 50px 0 ;
    grid-column: 1 / span 3;

}

.main-section-three__article {
    margin: 0 auto;
    max-width: 230px;
}
.main-section-three__article img{
    width: 90px;
}
.main-section-three__article > h3 {
    font-weight: 400;
    margin-bottom: 15px;
}

.main-section-three__article > p {
    font-weight: 300;
    color: #555;
    opacity: 0.8;
}


/*  MAIN SECTION 4  */

#main-section-four {
    display: flex;
    padding: 20px 20px;
    border-top: 1px solid #ccc;
    
    justify-content: center;
    align-content: center;
}
#main-section-four div {
    padding: 35px;
}

#main-section-four div > * {
    margin-top: 30px;
}

#main-section-four div > h3 {
    color: #2d749a;
    font-weight: 400;
}

#main-section-four div > p {
    color: #555;
    font-weight: 300;
    padding-bottom: 40px;
}

#main-section-four img {    
    width: 500px;
    width: 500px;
    align-self: center;
}

.option2 {
    background-color: #4cb7ef;
    box-shadow: 0 2px 0 #247499;
    padding: 14px 23px;
}

.option2:hover{    
    background-color: #69c1f0;
}

.linksOption2 {
    padding-top: 15px;
}
/*  Main section 5  */

#main-section-five {
    display: flex;
    flex-direction: column;
    background-color: #4cb7ef;

    text-align: center;
    align-items: center;

    padding: 70px 20px 30px;
}

#main-section-five article {
    max-width: 550px;
    padding-bottom: 40px;
}

#main-section-five article > h3{
    font-weight: 200;
    font-size: 1rem;
    padding-bottom: 10px;
}

#main-section-five div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20px;

}

#packPrices{
    position: relative;
    grid-column-gap: 18px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;

    max-width: 900px;
    

}

#packPrices article{  
    background: rgba(0,0,0,.1);
    border-top: 2px solid #2d749a;
    

}

.titlePrice{
    
    font-family: Arial, Helvetica, sans-serif;
    background-color: #3c92bf;
    padding-top: 10px;

}

.amountPrice{
    font-size: 5rem;
}

.year{
    align-self: end;
}

.description-price{
    padding: 40px;
    margin-bottom: 10px;

}

.button-buyNow{
    background-color: #ddebf3;
    box-shadow: 0 2px 0 #9fcce6, 0 -2px 0 white;
    padding: 10px 20px;
    border-radius: 4px;
    border-top: 5px #247499;
}

.button-buyNow:hover{
    background-color: white;
}

#recommended-plan {
    background-image: url('./Images/1_main/banner@2x.png');
    background-repeat: no-repeat;
    position: absolute;
    bottom: -20px;
    left: 16%;
    margin-left: -140px;
    background-size: 280px 50px;
    height: 50px;
        
}

#recommended-plan p {
    padding-left: 53px;
    top: 100px;
}



/*  Main section 6  */

#main-section-six{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    padding-top: 60px;
    padding-bottom: 40px;
}

#main-section-six p {
    color: #2d749a;
    font-size: 1.5rem;
    padding-bottom: 17px;
}

#main-section-six a{
    font-weight: 300;
    font-size: 1.3rem;
    padding: 10px 0 ;
    color:#4cb7ef;

}


/*  FOOTER  */

footer{
    display: flex;
    flex-direction: column;
    background-color: #2d749a;    
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 70px;    
}

.footer{    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    color: rgba(255,255,255,.4);
    list-style: none;    
    min-width: 700px;
}

.footer ul{
    padding-top: 20px;
}


.footer-items li{    
    list-style: none;    
    font-size: 0.9rem ;
    font-weight: 300;
    padding: 5px;
}

.footer-items a {
    color: white;
}

#copyright{
    font-size: 0.8rem;
    color: rgba(255,255,255,.4);
    padding: 70px 0 15px;
}


